html {
  margin: 0 2em;
}

.h1-stat {
  text-align: center;
  margin-bottom: 1em;
}

.h1-percentage {
  font-size: 3rem;
}

.h1-percentage:after {
  content: '%';
}

.h1-label {
  text-transform: uppercase;
  letter-spacing: 2px;
}
