.h1-metrics-table {
  font-size: 2rem;
}

.h1-metrics-table td {
  text-align: center;
}

.h1-metrics-table thead th {
  text-align: center;
}

.h1-metrics-table th {
  font-weight: bold;
}

.h1-metrics-table tfoot tr th, .h1-metrics-table tfoot tr td {
  background-color: #f1f1f1;
  border-bottom-style: none;
}

.h1-metrics-table td {
  text-align: center;
}