{% extends "base.html" %}

{% block content %}
<h2>Acceptable Quality Level Statistics</h2>
<div class="usa-grid">
  <div class="usa-width-one-third h1-stat">
    <div class="h1-percentage">{{ stats.triage_accuracy }}</div>
    <div class="h1-label">Triage accuracy</div>
  </div>
  <div class="usa-width-one-third h1-stat">
    <div class="h1-percentage">{{ stats.false_negatives }}</div>
    <div class="h1-label">False negatives</div>
  </div>
  <div class="usa-width-one-third h1-stat">
    <div class="h1-percentage">{{ stats.triaged_within_one_day }}</div>
    <div class="h1-label">Triaged in one workday</div>
  </div>
</div>
<h2>HackerOne Bookmarklet</h2>
<p>Drag the link below to your bookmarks bar and click it when you're on a HackerOne report page to modify <a href="https://github.com/18F/tts-buy-bug-bounty/blob/master/solicitation_documents/004_QASP.md#21-performance-requirements-matrix">acceptable quality level (AQL)</a> metadata about the report.</p>
<a href="{{ bookmarklet_url }}">H1 AQL metadata</a> <span class="usa-form-hint">← Drag this to your bookmarks bar!</span>
{% endblock %}
