{% extends "base.html" %}

{% macro percentage(n, count) -%}
  {%- if count == 0 -%}
    0
  {%- else -%}
    {{ (n / count * 100) | int }}%
  {%- endif -%}
{%- endmacro %}

{% block content %}
<h2>Acceptable Quality Level Statistics</h2>
<div class="usa-grid">
  <div class="usa-width-one-fourth h1-stat">
    <div class="h1-metric">{{ stats.count }}</div>
    <div class="h1-label">Total reports</div>
  </div>
  <div class="usa-width-one-fourth h1-stat">
    <div class="h1-metric">{{ percentage(stats.triaged_accurately, stats.count) }}</div>
    <div class="h1-label">Triage accuracy</div>
  </div>
  <div class="usa-width-one-fourth h1-stat">
    <div class="h1-metric">{{ percentage(stats.false_negatives, stats.count) }}</div>
    <div class="h1-label">False negatives</div>
  </div>
  <div class="usa-width-one-fourth h1-stat">
    <div class="h1-metric">{{ percentage(stats.triaged_within_one_day, stats.count) }}</div>
    <div class="h1-label">Triaged in one workday</div>
  </div>
</div>
{% if last_synced_at %}
<p>
  These statistics are partially based on a snapshot of HackerOne's
  data that was last updated {{ last_synced_at }}.
</p>
{% endif %}
<h2>HackerOne Bookmarklet</h2>
<p>Drag the link below to your bookmarks bar and click it when you're on a HackerOne report page to modify <a href="https://github.com/18F/tts-buy-bug-bounty/blob/master/solicitation_documents/004_QASP.md#21-performance-requirements-matrix">acceptable quality level (AQL)</a> metadata about the report.</p>
<a href="{{ bookmarklet_url }}">H1 AQL metadata</a> <span class="usa-form-hint">← Drag this to your bookmarks bar!</span>
{% endblock %}
